# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client-old/

/client/node_modules
/server/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
*.pem
/client/misc
/server/.env
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
/client/.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
